.no-hover{
    background: transparent !important;
    color: inherit !important;
    transform: none !important;
}
/* .banner{
    background: url(./Assets/banner-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
} */