.card {
    position: relative;
}

.card-icon {
    position: absolute;
    top: -7%;
}
.fotter-first{
    border-bottom: 2px solid rgb(162, 135, 135);
}
.fotter-border{
    /* border-bottom: 2px solid rgb(162, 135, 135); */
}